﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AdminOverview.aspx.cs" Inherits="Sang.AdminOverview" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Admin Se Users and Finde Song</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <!--  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <script src="/jquery/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/StyleSheet1.css" />

     <style type="text/css">    
        .my-style {
            width: 184px;
            vertical-align: top;
            text-align: left;
        }
    </style>

</head>
<body>
    <form id="form1" runat="server">
         <div class="container-fluid">

            <br />

             <div class="container-fluid">
                <table style="width: 30%;">
                    <tr>
                        <td class="my-style">

            <asp:Button CssClass="btn-default" ID="ButtonBack" runat="server" OnClick="ButtonBack_Click" Text="Back" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="auto-style1">
                                        <asp:Table ID="Table1" runat="server">
                                        </asp:Table>
                                    </td>
                                    <td class="auto-style2">
                                        <asp:Table ID="Table2" runat="server">
                                        </asp:Table>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <br />

        </div>

        <asp:ListBox ID="ListBox1" runat="server" Height="109px" Width="400px"></asp:ListBox>

    </form>
</body>
</html>
