﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FindSongBooks.aspx.cs" Inherits="Sang.FindSongBooks" %>

<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>FindeSongBooks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
 
 <!--  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

      <link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <script src="/jquery/jquery-1.11.3.min.js"></script> 
    <script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/css/StyleSheet1.css"/>




</head>
<body>
<body>
    <form id="form1" runat="server">
        
             <div class="container-fluid">
                  <br />
                <table style="width: 100%;">
                    <tr>
                        <td class="auto-style4">
            <asp:Button CssClass="btn-default" ID="ButtonBack" runat="server" OnClick="ButtonBack_Click" Text="Back" />
                        </td>
                    </tr>
                    <tr>  
                        
                    </tr>
                  
                     <tr>
                    <td>
                        <asp:Table ID="Table1" runat="server">
                        </asp:Table>
                    </td>
                    
                </tr>
                    </table>
                    </div>
        
    </form>
</body>
</html>
