﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PlayMidi.aspx.cs" Inherits="Sang.PlayMidi" %>

<!DOCTYPE html>
  
<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
<html  xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title></title>
 
    <style type="text/css">
        .auto-style1 {
            font-size: xx-large;
        }
        #Button1 {
            height: 80px;
            width: 209px;
        }
    </style>
 
</head>
<body>
    <form id="form1" runat="server">
    <div>
            

    </div>
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/midi/sang.mid">Download song</asp:HyperLink>
       
   


    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <button id="3" onClick="reply_click(this.id)">B3</button>

<script type="text/javascript">
    function reply_click(clicked_id) {
        MIDIjs.play('midi/sang.mid');
    }
</script>


    <span class="auto-style1">
    <a href="#" onclick="MIDIjs.play('midi/sang.mid');">PlaySoundMidiNow</a></span>

</body>
             

</html>
